/*Sets shape of gameboard spaces.*/
table{
	table-layout: fixed;
}

.explanation{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    border: solid black;
}

label{
    font-weight: bolder;
    font-style: italic;    
}

.space{
	height: 10em;
	width: 10em;
	margin: 5px;
	border: 5px solid black;
	text-align: center;
}

.resetButton{
	height: 5em;
	width: 10em;
	border: 5px solid black;
	display: center;
}

.scoreboard{
	height: 3em;
}

.switch{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.emptySpace{
	width: 300px;
}